test/car2/sample1.jpg filter=lfs diff=lfs merge=lfs -text
test/car2/sample2.jpg filter=lfs diff=lfs merge=lfs -text
test/car2/sample3.jpg filter=lfs diff=lfs merge=lfs -text
test/car1/sample1.jpg filter=lfs diff=lfs merge=lfs -text
test/car1/sample2.jpg filter=lfs diff=lfs merge=lfs -text
test/car1/sample3.jpg filter=lfs diff=lfs merge=lfs -text
train/car2/sample1.jpg filter=lfs diff=lfs merge=lfs -text
train/car2/sample2.jpg filter=lfs diff=lfs merge=lfs -text
train/car2/sample3.jpg filter=lfs diff=lfs merge=lfs -text
train/car1/sample1.jpg filter=lfs diff=lfs merge=lfs -text
train/car1/sample2.jpg filter=lfs diff=lfs merge=lfs -text
train/car1/sample3.jpg filter=lfs diff=lfs merge=lfs -text
val/car2/sample1.jpg filter=lfs diff=lfs merge=lfs -text
val/car2/sample2.jpg filter=lfs diff=lfs merge=lfs -text
val/car2/sample3.jpg filter=lfs diff=lfs merge=lfs -text
val/car1/sample1.jpg filter=lfs diff=lfs merge=lfs -text
val/car1/sample2.jpg filter=lfs diff=lfs merge=lfs -text
val/car1/sample3.jpg filter=lfs diff=lfs merge=lfs -text
test/red/red2.jpg filter=lfs diff=lfs merge=lfs -text
test/red/red1.jpg filter=lfs diff=lfs merge=lfs -text
test/red/red3.jpg filter=lfs diff=lfs merge=lfs -text
test/green/green2.jpg filter=lfs diff=lfs merge=lfs -text
test/green/green1.jpg filter=lfs diff=lfs merge=lfs -text
test/green/green3.jpg filter=lfs diff=lfs merge=lfs -text
test/blue/blue3.jpg filter=lfs diff=lfs merge=lfs -text
test/blue/blue2.jpg filter=lfs diff=lfs merge=lfs -text
test/blue/blue1.jpg filter=lfs diff=lfs merge=lfs -text
train/red/red2.jpg filter=lfs diff=lfs merge=lfs -text
train/red/red1.jpg filter=lfs diff=lfs merge=lfs -text
train/red/red3.jpg filter=lfs diff=lfs merge=lfs -text
train/green/green2.jpg filter=lfs diff=lfs merge=lfs -text
train/green/green1.jpg filter=lfs diff=lfs merge=lfs -text
train/green/green3.jpg filter=lfs diff=lfs merge=lfs -text
train/blue/blue3.jpg filter=lfs diff=lfs merge=lfs -text
train/blue/blue2.jpg filter=lfs diff=lfs merge=lfs -text
train/blue/blue1.jpg filter=lfs diff=lfs merge=lfs -text
val/red/red2.jpg filter=lfs diff=lfs merge=lfs -text
val/red/red1.jpg filter=lfs diff=lfs merge=lfs -text
val/red/red3.jpg filter=lfs diff=lfs merge=lfs -text
val/green/green2.jpg filter=lfs diff=lfs merge=lfs -text
val/green/green1.jpg filter=lfs diff=lfs merge=lfs -text
val/green/green3.jpg filter=lfs diff=lfs merge=lfs -text
val/blue/blue3.jpg filter=lfs diff=lfs merge=lfs -text
val/blue/blue2.jpg filter=lfs diff=lfs merge=lfs -text
val/blue/blue1.jpg filter=lfs diff=lfs merge=lfs -text
