test/car2/sample1.jpg filter=lfs diff=lfs merge=lfs -text
test/car2/sample2.jpg filter=lfs diff=lfs merge=lfs -text
test/car2/sample3.jpg filter=lfs diff=lfs merge=lfs -text
test/car1/sample1.jpg filter=lfs diff=lfs merge=lfs -text
test/car1/sample2.jpg filter=lfs diff=lfs merge=lfs -text
test/car1/sample3.jpg filter=lfs diff=lfs merge=lfs -text
train/car2/sample1.jpg filter=lfs diff=lfs merge=lfs -text
train/car2/sample2.jpg filter=lfs diff=lfs merge=lfs -text
train/car2/sample3.jpg filter=lfs diff=lfs merge=lfs -text
train/car1/sample1.jpg filter=lfs diff=lfs merge=lfs -text
train/car1/sample2.jpg filter=lfs diff=lfs merge=lfs -text
train/car1/sample3.jpg filter=lfs diff=lfs merge=lfs -text
val/car2/sample1.jpg filter=lfs diff=lfs merge=lfs -text
val/car2/sample2.jpg filter=lfs diff=lfs merge=lfs -text
val/car2/sample3.jpg filter=lfs diff=lfs merge=lfs -text
val/car1/sample1.jpg filter=lfs diff=lfs merge=lfs -text
val/car1/sample2.jpg filter=lfs diff=lfs merge=lfs -text
val/car1/sample3.jpg filter=lfs diff=lfs merge=lfs -text
